  
.footerBar {
    display: flex;
    flex-flow: column wrap;
    background-color: darkslategrey;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerBar__item {
    color: white;
    flex-basis: 20%;
    list-style-type: none;
    font-family: 'Yeseva One', cursive;
}
